@media only screen and (max-width: 600px) {
    .swiper-pagination {
        left: 90% !important;
    }
}

@media only screen and (min-width: 601px) {
    .swiper-pagination {
        left: 95% !important;
    }
}

.swiper-pagination {
    position: absolute;
    height: 30%;
    width: 5% !important;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    padding: 0px 35px;
    top: 35%;
}

.swiper-pagination-bullet {
    padding: 8px;
    background-color: #004C96 !important;
    border-radius: 0% !important;
    margin-bottom: 15px !important;
}

.swiper-pagination-bullet-active {
    background-color: #004C96 !important;
    border-radius: 0% !important;
}